body{
    text-align: center;
    background: url(Images/fondo1.jpg);
    color: whitesmoke;
}
.parrafo1{
    color: aqua;
}
.parrafo2{
    color: coral;
}
.pan{
    margin: auto 35%;
    display: block;
}
h3{
    color: crimson;
}
div#menu{
    background-color: #5e1904;
    width: 90%;
}
