body{
    text-align: center;
    background: url(Images/fondo1.jpg);
    color: whitesmoke;
    font-size: 16px;
}
.parrafo1{
    color: aqua;
}
.parrafo2{
    color: coral;
}
.pan{
    margin: auto 35%;
    display: block;
}
h3{
    color: crimson;
}
div#menu{
    
    background-color: #5e1904;
    width: 90%;
    font-size: 1.5em;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 29.92px 65px 29.92px;
}
div#menu a{
    text-decoration: none;
    color: white;
    padding: 25px;
}
div#menu a:link{
    color: green;
}
div#menu a:visited{
    color: white;
}
div#menu a:hover{
    text-decoration: underline;
}
div#menu a:active{
    color: rgb(106, 255, 106);
}
